body {
  background-color: rgb(204, 204, 204);
  font-family: Arial, sans-serif;
}

/* Center headings */
h1, h2 {
  text-align: center;
}

/* Playlist box */
.playlist-box {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width:700px ;
  margin: 10px auto;
  padding: 10px 20px;
}

/* Remove bullet points */
ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 5px 0;
  text-align:left;
}

/* Style links */
a {
  text-decoration-line: none;
  color: black;
  font-weight: bold;
}

/* Common styling for media player boxes */
.Playerone-box{
	 background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  width: 90%; /* Make it wide like in the screenshot */
  margin: 20px auto; /* center it */
  box-sizing: border-box; 
	
}
.player_two {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  width: 90%; /* Make it wide like in the screenshot */
  margin: 20px auto; /* center it */
  box-sizing: border-box; /* ensures padding doesn't overflow */
}
