body {
  background-color: rgb(204, 204, 204);
  font-family: Arial, sans-serif;
}

/* Center headings */
h1, h2 {
  text-align: center;
}

/* Playlist box */
.playlist-box {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width:600px ;
  margin: 20px auto;
  padding: 10px 20px;
}

/* Remove bullet points */
ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 5px 0;
  text-align:left;
}

/* Style links */
a {
  text-decoration-line: none;
  color: black;
  font-weight: bold;
}

/* Common styling for media player boxes */
.Playerone-box{
	 
  width: 80%;              /* or any fixed width like 600px */
  margin: 20px auto;       /* auto left/right centers it */
  padding: 20px;
  background-color: white; /* optional styling */
  border: 1px solid black; /* optional styling */
  border-radius: 10px; 
	display: flex;
  flex-direction: column;
  align-items: center;
  
	
}
.video1{
	width: 100%;              /* or any fixed width like 600px */
        
  
   /* optional styling */
  border: 1px solid black; /* optional styling */
   
	
}
.player_two {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  width: 100%; /* Make it wide like in the screenshot */
  margin: 20px auto; /* center it */
  box-sizing: border-box; /* ensures padding doesn't overflow */
	margin-top: 20px;
}

@media (max-width: 600px) {
  .playlist-box, .Playerone-box {
    width: 95%;
  }
}
